.control-play {
  margin-right: 40px;
  position: absolute;
  top: 15px;
  right: 0;

  width: 50px;
  height: 50px;

  cursor: pointer;
  -webkit-transition: top .6s cubic-bezier(0, .74, .61, 1.35);
  transition: top .6s cubic-bezier(0, .74, .61, 1.35);
  text-align: center;

  color: #d94240;
  border-radius: 50%;
  background: #FFF;
  box-shadow: 0 0 10px rgba(59, 59, 177, .22);
}

.control-play div {
  width: 20px;
  height: 20px;
  margin-top: 15px;
  margin-left: 19px;
}
